html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Handwriting';
  src: url('/fonts/ReenieBeanie/ReenieBeanie.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Text';
  src: url('/fonts/Montserrat/Montserrat-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Text';
  src: url('/fonts/Montserrat/Montserrat-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Text';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}
/* @font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond/EBGaramond-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
} */

p {
  font-family: Optimistic, Montserrat, Helvetica, Arial, Noto Sans, sans-serif;
  font-weight: 100;
  color: rgb(61, 61, 61);
}

h2 {
  font-family: Optimistic, Montserrat, Helvetica, Arial, Noto Sans, sans-serif;
  font-weight: 100;
  color: rgb(61, 61, 61);
}

@media (min-width: 1200px) {
  p {
    font-size: 1.2vw;
  }
  h1 {
    font-size: 1.2vw;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  p {
    font-size: 1.8vw;
  }
  h1 {
    font-size: 1.8vw;
  }
}
@media (min-width: 500px) and (max-width: 799px) {
  p {
    font-size: 2.5vw;
  }
  h1 {
    font-size: 2.5vw;
  }
}
@media (min-width: 200px) and (max-width: 499px) {
  p {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 3.5vw;
  }
}

#anthon-wellsjo {
  font-size: 70px;
  margin-top: -30px;
}
@media only screen and (max-width: 800px) {
  #anthon-wellsjo {
    font-size: 50px;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 565px) {
  #anthon-wellsjo {
    font-size: 30px;
    margin-top: -15px;
  }
}
@media only screen and (max-width: 330px) {
  #anthon-wellsjo {
    font-size: 25px;
    margin-top: -10px;
  }
}

.page-header {
  font-size: 70px;
}

@media only screen and (max-width: 800px) {
  .page-header {
    font-size: 70px;
  }
}
@media only screen and (max-width: 565px) {
  .page-header {
    font-size: 50px;
  }
}
@media only screen and (max-width: 330px) {
  .page-header {
    font-size: 45px;
  }
}


.navbarTitle {
  font-size: 1vw;
  font-family: Text;
  /* font-weight: 400; */
  text-transform: uppercase;
}
